.article-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  //   .images {
  //     width: 30%;
  //   }
  .details {
    width: 30%;
    @include media("<=phone") {
      width: 100%;
    }
    h2,
    span {
      text-transform: uppercase;
    }
    .titles {
      margin-bottom: 10%;
    }
    .add-to-cart {
      background-color: transparent;
      border: none;
      width: 40%;
      position: relative;
      display: flex;
      outline: none;
      .btn-text {
        background-color: black;
        border-radius: 10%;
        color: $white;
        width: 50%;
        padding: 5%;
      }
    }
  }
}
