@import "./variables.scss";
@import "./breakpoints.scss";
@import "./component/login.scss";
@import "./component/register.scss";
@import "./component/articles.scss";
@import "./component/article.scss";
@import "./component/header.scss";
* {
  box-sizing: border-box;
}
body {
  &.dark-mode {
    background-color: $coolBlack !important;
    * {
      color: $coolWhite !important;
    }
  }
}

#anim {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: $coolYellow;
  visibility: hidden;
}
