$white : #ffffff;
$black : #000;
$blue : #011F72;
$pink : #FF8080;
$purple : #b872d1;
$green : #002C08;
$yellow : #F8C027;
$lightblue : #2757F8;

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');