<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <post-comments data-post="{{ post.id }}" data-user="{{ app.user.id ? app.user.id : 0 }}">
    </post-comments>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
